* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 1.7rem;
  background-color: #dadce394;
}

span {
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 15px;
  text-align: center;
  height: 1.6rem;
  border: 1px solid rgb(145, 142, 142);
}

button {
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-weight: 700;
  background-color: #f7b801;
  cursor: pointer;
}

button:hover {
  background-color: #edd48a;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 20rem;
  height: 100%;
  list-style: none;
  padding: 1rem 0;
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-task-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem;
}

.form-window {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #dadce394;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  top: 4rem;
  box-shadow: 0px 10px 20px -15px black;
  width: 30%;
  min-width: 20rem;
  height: 20rem;
  opacity: 0;
  visibility: hidden;
  transition: all 100ms;
}

.form-window.open {
  opacity: 1;
  visibility: visible;
  top: 6rem;
}

.btn-close-window,
.btn-delete {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  background: none;
}
.btn-close-window:hover,
.btn-delete:hover {
  background: rgba(0, 0, 0, 0.1);
}

.tasks-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 0 15rem;
  height: 37rem;
  backdrop-filter: blur(10px);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 5px 30px -20px black;
}

.list-container h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
  width: 100%;
  padding: 1rem;
}

.list-container span {
  width: 1.7rem;
}

.list-item {
  position: relative;
  background-color: rgba(229, 229, 229, 0.541);
  width: 15rem;
  padding: 1rem 1rem;
  border-radius: 15px;
  color: black;
  box-shadow: 0px 10px 30px -10px rgb(55, 55, 55);
  transition: all 100ms;
}

.draggable {
  cursor: grab;
}

.pending-list .list-item {
  border-left: 10px solid orange;
}
.complete-list .list-item {
  border-left: 10px solid limegreen;
}
.past-due-list .list-item {
  border-left: 10px solid rgb(195, 57, 29);
}

.pending-list .list-item:hover {
  transform: translateY(-6px);
}
.complete-list .list-item:hover {
  transform: translateY(-6px);
}
.past-due-list .list-item:hover {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.092);
  cursor: grab;
}

@media only screen and (max-width: 1100px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .tasks-container {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .list-container {
    flex-direction: row;
  }

  .list-container h3 {
    width: 12rem;
  }

  .list-item {
    width: max-content;
    max-width: 35rem;
  }

  ul {
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 490px) {
  .list-container h3 {
    padding: 0;
    rotate: -90deg;
    width: 9rem;
    height: 3rem;
  }

  .add-task-container {
    flex-direction: column;
  }

  .add-task-container button {
    order: 1;
  }

  .tasks-container {
    padding: 0;
  }
}
